<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JPMART_PD07599_v1">
        <activity
            android:name=".ui.WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.VenueActivity" />
        <activity android:name=".ui.TopProductsActivity"/>
        <activity android:name=".ui.TopCustomersActivity"/>
        <activity android:name=".ui.ProductsActivity"/>
        <activity android:name=".ui.ChangePasswordActivity"/>
        <activity android:name=".ui.StaffActivity"/>
        <activity android:name=".ui.OrdersActivity"/>
        <activity android:name=".ui.CategoriesActivity"/>
        <activity android:name=".ui.CustomersActivity"/>
        <activity android:name=".ui.EditCategoryActivity"/>
        <activity android:name=".ui.AddCategoryActivity"/>
        <activity android:name=".ui.EditProductActivity"/>
        <activity android:name=".ui.AddProductActivity"/>
        <activity android:name=".ui.EditCustomerActivity"/>
        <activity android:name=".ui.AddCustomerActivity"/>
    </application>

</manifest>